<div class="container">
  <h1>Lorem ipsum dolor sit</h1>
   <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet facilis impedit inventore non odio voluptatem!
     Laboriosam non quae reiciendis reprehenderit tempora? Ad dicta dolor in iste suscipit, totam ut?</h3>
    <p class="para-info" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae error et, ipsa ipsum laboriosam nihil sed? Cumque ducimus ex explicabo fugiat neque odio porro? Culpa earum ex ipsa ipsam nam nobis officia placeat quisquam velit vero?
    Ab atque autem blanditiis, cupiditate explicabo harum impedit incidunt nulla possimus quam quasi totam.</p>
  <p class="para-uppr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam excepturi ipsa nobis odio pariatur quia quidem, suscipit tempora velit! Lorem ipsum dolor sit amet.</p>
  <div class="para-container">
    <p class="para-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta, labore nostrum quod sapiente vel voluptatem voluptates. Amet aut cupiditate deserunt dolorem doloremque doloribus est facilis incidunt inventore labore laudantium magni minus molestiae mollitia necessitatibus,
      neque numquam porro repellat reprehenderit</p>
    <h4 class="para-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi cumque doloribus eos facere natus non officiis suscipit veniam? Ut?</h4>
  </div>

  <p class="para-uppr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloremque ea est fugit ipsa magnam magni minima molestiae! Recusandae, veritatis.</p>
  <h4 class="para-quote mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi cumque doloribus eos facere natus non officiis suscipit veniam? Ut?</h4>
</div>
