<div class="container">
  <div class="about-us">
    <h3><a href="">About Us</a></h3>
    <p><a href="">Lorem ipsum </a></p>
    <p><a href="">Cursus</a></p>
    <p><a href="">Seleoga</a></p>
    <p><a href="">Hospus</a></p>
  </div>
  <div class="about-us">
    <h3><a href="">Legal</a></h3>
    <p><a href="">Lorem ipsum </a></p>
    <p><a href="">Cursus</a></p>
    <p><a href="">Seleoga</a></p>
    <p><a href="">Hospus</a></p>
  </div>
  <div class="about-us">
    <h3><a href="">Developers</a></h3>
    <p><a href="">Lorem ipsum </a></p>
    <p><a href="">Cursus</a></p>
    <p><a href="">Seleoga</a></p>
    <p><a href="">Hospus</a></p>
  </div>
</div>
